body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color:white;
}



.top{
	background-color: white;
	font-family: 'Lobster Two', cursive;
	font-size: 50px;	
	color: black;

}

.cover{
	background-image: url('img/cover.jpeg');
	
	background-size: cover;
	background-position:center;
	padding-top: 120px;
	padding-bottom: 30px;


}


@media (max-width:700px){
		.cover{padding-top:80px;
				padding-right: 50px;
				padding-left: 50px;
				background-position:bottom;
		}
}
.title{
		padding-top: 10px;
		font-family: 'Lobster Two', cursive;
		font-size: 30px;	
		color: #fff;
}

.title span{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: #CCC;
}

button{
	margin-top: 30px;
	font-size: 40px;
	color:black;
	background-color: white;
}


.teaser-vid{
	margin-top: 20px;
	background-color: #4183D7;
	height:315px;
	line-height:315px;
	width:420px;
	font-family: 'Lobster Two', cursive;
	font-size: 50px;
	color:#fff;
}
.teaser-vid span{	vertical-align: middle; display: inline-block;}

.teaser{
	padding-top:20px;
	padding-bottom: 20px;
}
.teaser-text{
	color:black;
}

.teaser-text h2{
	font-family: 'Lobster Two', cursive;
	margin-bottom: 17px;
}

.event{
	color:#333;
	margin-top: 80px;
	line-height: 40px;
	margin-bottom: 80px;
}

.event p{
	font-family: 'Lobster Two', cursive;
	font-size: 30px;
	line-height: 40px;
}

.event span{
	color:#4183D7;
}