body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

.subtitle{
	font-family: 'Lobster Two', cursive;
	font-size: 20px;
}
.pad{
	padding-top: 40px;
}


	.header{
		background-color: #E4F1FE;
		padding-top: 40px;
		/*padding-left:50px;*/
		padding-bottom: 40px;

	}

		.header .logo{
			font-family: 'Lobster Two', cursive;
			font-size: 40px;
		}

		.header .links{
			
			font-size: 20px;
			padding-top: 20px;
		}

		.header .title{
			
			font-size: 50px;
			padding-top: 80px;
		}

		.header .subtitle{
			
			font-size: 25px;
			font-family: 'Lobster Two', cursive;
		}

		.header .navi a {
			cursor: pointer;
			text-decoration: none;
			color: black;
		}


		.header nav{
			background-color: #E4F1FE;
		}
			@media (min-width: 168px) {
				#register{
			  
   				margin-top: 100px;
  			
		}
		}
	.video{
		background-color: #C5EFF7;
		padding-top:20px;
		padding-bottom:20px;

	}

		.video .videocontainer{
			background-color:#34495e;
			height:315px;
			border-radius: 6px;
		}


	.team{
		background-color: #336E7B;
		padding-top:20px;
		padding-bottom:20px;

	}
