body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color:white;
}

 .btn-primary{
	background-color: red ;
	border: none;
}

.top{

	font-family: 'Permanent Marker';
	font-size: 50px;	
	color: black;

}

#data {
	color: red;
}

.cover{
	background-size: cover;
	background-color: black;
	background-position:center;
	padding-top: 120px;
	padding-bottom: 30px;


}
@media (max-width:900px){
		.contact-detail { 
				text-align: center;
		}
	}

@media (max-width:700px){
		.cover{padding-top:80px;
				padding-right: 50px;
				padding-left: 50px;
				background-position:bottom;
		}
}
.title{
		padding-top: 10px;
		font-family: 'Permanent Marker';
		font-size: 30px;	
		color: red;
		line-height: 30px;
}

.subtitle {
		padding-top: 10px;
		font-family: 'Century Gothic', sans-serif;
		font-size: 15px;	
		color: white;
		line-height: 30px;
}

.title span{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: #CCC;
}

.title .metro {
	font-family: 'Century Gothic', cursive;
	font-size: 30px;	
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 45px;
	display: inline-block;
	border:solid 1px white;
	color: white;
	margin-left: 20px;

}


.title .trois {
	font-family: 'Century Gothic', cursive;
	font-size: 30px;	
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 45px;
	display: inline-block;
	color: white;
	background-color: #9a9940;
	margin-left: 5px;

}


button{
	margin-top: 20px;
	font-size: 40px;
	color:black;
	background-color: white;
}

.cover .subtitle{
	padding-right: 0px;
}

/*
.teaser-vid{
	margin-top: 20px;
	background-color: #4d92cf;
	height:315px;
	line-height:315px;
	width:420px;
	font-family: 'Century Gothic', cursive;
	font-size: 50px;
	color:#fff;
}
.teaser-vid span{	vertical-align: middle; display: inline-block;}

*/

.teaser{
	padding-top: 40px;
	padding-bottom: 60px; 
	color:black;
}

.teaser h2 {
	font-family: 'Century Gothic', cursive;
	font-size: 30px;
}

.countdown {
	background-color: black;
	font-family: 'Century Gothic', cursive;
	font-size: 50px;
	line-height: 60px;
	padding-right: 20px;
	padding-left: 20px;
    margin-right: 5px;
    color:white;
}

.countdown-separator {
	font-family: 'Century Gothic', cursive;
	font-size: 50px;
	line-height: 60px;
	color: black;
	padding-left: 20px;

}
.countdown-separator-white {
	font-family: 'Century Gothic', cursive;
	font-size: 50px;
	line-height: 2px;
	color: white;
	padding-left: 20px;

}
.countdown-time {
	font-family: : 'Century Gothic', cursive;
	font-size: 30px;
	color: black;
	
}

.separator{
	margin-top: 30px;
}

/*#Heures {
	font-family: : 'Century Gothic', cursive;
	padding-left: 25px;
	padding-right: 95px;
}

#Jours {
	padding-right: 35px;
}
*/
.program {

	/*font-size: 16px;*/
	padding-top: 60px;
	padding-bottom: 60px;
}	

.jours{
color:black;	


}

.program h2 {
	font-family: 'Century Gothic', cursive;
	font-size: 30px;
	color: black;
	margin-top: 0px;
	margin-bottom: 40px;
    
}

.program-desc {
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    padding-left: 35px;
    padding-right: 35px;
}

.details {

	/*font-size: 16px;*/
	color: black;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.details h2 {
	font-family: 'Century Gothic', cursive;
	font-size: 40px;
	color: black;
	margin-top: 0px;
	margin-bottom: 40px;
}

.details div {
	text-align: center;
}

.details p {
	font-size: 20px;
	font-family: 'Century Gothic', cursive;
    color: black;
}

.details p strong {
	margin-right: 20px;
}

.what {
	/*font-size: 16px;*/
	color: black;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
}

.what h2 {
	font-family: 'Century Gothic', cursive;
	font-size: 30px;
	color: black;
	margin-top: 0px;
	margin-bottom: 40px;
}

.what p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: black;
	margin-top: 0px;
	margin-bottom: 40px;
}

.what-btn {
	display: inline;
}

.what-img {
	height: 30px;
	width: 30px;
	margin-left: 450px;
	margin-bottom: -95px;
}

.sontonsse {
	margin-top: -30px;
}

/*

.competences {

	/*font-size: 16px;
	background-color: #4d92cf;
	padding-top: 60px;
	padding-bottom: 60px;

}

.competences p{

	font-size: 16px;
}


.competences h2{
	font-family: 'Century Gothic', cursive;
	font-size: 40px;
	color:white;
	margin-top: 0px;
	margin-bottom: 40px;

}

.competences .skill h3{
	font-family: 'Century Gothic', cursive;
	color:white;
	padding-bottom: 10px;
	border-bottom: #fff 1px solid;
}

.team h2{
	font-family: 'Century Gothic', cursive;
	font-size: 40px;
	color:black;
	margin-bottom: 40px;
	margin-top: 0px;
}

.team{
	
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid #EEEEEE;

}

.team .skill{
	color:black;
	font-size: 14px;
}
.skill img{
	margin-right: 8px;

}

*/

.contact {
	color: black;
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact h2 {
	font-family: 'Century Gothic', cursive;
	font-size: 40px;
	color:black;
	margin-top: 0px;
	margin-bottom: 40px; 
}

.contact-detail {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: black;
	text-align: left;
}

.contact-img {
	
	margin-right: 20px;
	padding-bottom: 5px;
}

.partenaires {
	color:black;
	padding-top: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid #EEEEEE;
    text-align: center;
}

.partenaires h2{
	font-family: 'Century Gothic', cursive;
	font-size: 40px;
	color:black;
	margin-bottom: 40px;}

.partenaires button{
		margin-left: 20px
	}

.partenaires img {
	display: inline-block;
}


.signature{
	padding-top: 30px;
	color:#ccc;
	font-size: 12px;
	padding-bottom: 30px
}

.signature .logo img{margin-bottom:20px;}

.signature a {
	text-decoration: none;
	color: #ccc;
}

